// Navigation Styles here

.navigation {
    a {
        color: aquamarine;
        display: block;
        float: right; 
        justify-content: space-between; 
        align-items: right;
        text-align: center; 
        line-height: 300%; 
        padding: 20px 2%;
        font-size: 20px;
    }
    h1 {
        display: block;
        float: left; 
        margin-top: 30px; 
    }

    @media @mobile {
        a {
            color: pink; 
        }
        
    }
}